<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.dyalog.apldev.debug.ui.launcher.APLTabGroup"
            description="Specify launch for APL program"
            id="apl.tabGroup"
            type="apl.launchType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="apl.launchType"
            icon="icons/A16.gif"
            id="apl.typeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.dyalog.apldev.debug.ui.launcher.APLLaunchShortcut"
            icon="icons/obj16/A16.png"
            id="pda.launchShortcut"
            label="APL Application"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.apl">
                     </test>
                  </iterate>
               </with>
            </enablement></contextualLaunch>
         <configurationType
               id="apl.launchType"></configurationType>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="com.dyalog.apldev.debug.ui.presentation.APLModelPresentation"
            id="apl.debugModel">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.dyalog.apldev.debug.ui.editor.APLEditor"
            default="true"
            extensions="apl"
            filenames="*.apl"
            icon="icons/A16.gif"
            id="apl.editor"
            name="APL Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="pda.rulerActions"
            targetID="apl.editor">
         <action
               actionID="RulerDoubleClick"
               class="com.dyalog.apldev.debug.ui.editor.RulerToggleBreakpointAction"
               id="pda.doubleClickBreakpointAction"
               label="togle breakpoint"
               style="push">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.debug.ui"
            class="com.dyalog.apldev.debug.ui.views.DataStackView"
            icon="icons/cube.gif"
            id="pda.dataStackView"
            name="Workspace Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="Debugging APL Programs"
            id="pda.debugging"
            name="Debugging APL Programs"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            contextId="pda.debugging"
            debugModelId="apl.debugModel">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            contextId="pda.debugging"
            viewId="pda.dataStackView">
      </contextViewBinding>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="apl.editor.rulerActions"
            targetID="apl.editor.rulerMenu">
         <action
               class="com.dyalog.apldev.debug.ui.editor.RulerToggleBreakpointAction"
               id="apl.editor.ruler.toggleBreakpointAction"
               label="Toggle Breakpoint"
               menubarPath="debug">
         </action>
      </viewerContribution>
      <viewerContribution
            id="apl.editor.menuActions"
            targetID="apl.editor.contextMenu">
         <action
               class="org.eclipse.debug.ui.actions.RunToLineActionDelegate"
               definitionId="org.eclipse.debug.ui.commands.RunToLine"
               id="apl.editor.context.runToLineAction"
               label="Run to Line"
               menubarPath="additions"
               style="push">
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="pda.dropToFrame"
            objectClass="example.debug.core.model.PDAStackFrame">
         <action
               class="com.dyalog.apldev.debug.ui.editor.PopFrameActionDelegate"
               id="pda.dropToFrame"
               label="Pop Frame">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.dyalog.apldev.debug.ui.editor.APLEditor"
            class="com.dyalog.apldev.debug.ui.breakpoints.APLEditorAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
         <adapter
               type="org.eclipse.debug.ui.actions.IRunToLineTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Skip current line"
            id="com.dyalog.apldev.debug.ui.command.skipcurline"
            name="skipcurline">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.dyalog.apldev.debug.ui.actions.SkipCurLine"
            commandId="com.dyalog.apldev.debug.ui.command.skipcurline">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.debug.ui.main.toolbar?after=stepOverGroup">
         <command
               commandId="com.dyalog.apldev.debug.ui.command.skipcurline"
               disabledIcon="icons/dlcl16/gobackoneline_co.png"
               hoverIcon="icons/elcl16/gobackoneline_co.png"
               icon="icons/elcl16/gobackoneline_co.png"
               label="Go back"
               style="push"
               tooltip="Go back one line">
         </command>
         <command
               commandId="com.dyalog.apldev.debug.ui.command.skipcurline"
               disabledIcon="icons/dlcl16/skipcurline_co.png"
               hoverIcon="icons/elcl16/skipcurline_co.png"
               icon="icons/elcl16/skipcurline_co.png"
               label="Skip"
               style="push"
               tooltip="Skip current line">
         </command>
      </menuContribution>
   </extension>

</plugin>
